@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root{
  --poppins: 'Poppins', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
  

  --pink: hsl(322, 100%, 66%);
  --light-pink:hsl(321, 100%, 78%);
  --light-red:hsl(0, 100%,  78%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);

  --padding-content: 80px 0;
}

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--open-sans);
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.hero{
  min-height: 100vh;
  background:url('images/bg-hero-mobile.svg') ;
  padding: 0.1px;
}

.hero__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;      
  margin: 30px auto;
}

.hero__figure{
  width: 36%;
  max-width: 160px;
}

.hero__huddle{
  width: 100% ;
  display: block;
}

.hero__btn{
  display: block;
  text-decoration: none;
  color:var(--very-dark-cyan);
  background-color: white ;
  padding: 5px 30px;
  border-radius: 20px;
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 11px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 3px;
}

.hero__section{
  width: 80%;
  margin: 0 auto;
}

.hero__title{
  margin: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.hero__paragraph{
  font-weight:400;
  text-align: center;
}

.btn__started{
  background-color: var(--pink);
  text-decoration: none;
  display: block;
  width: 250px;
  text-align: center;
  margin: 30px auto;
  border-radius: 30px;
  padding: 12px 20px;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.hero__imageView{
  width: 80%;
  margin: 0 auto;

}

.hero__desktop{
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  display: block;
}

.hero__information{
  min-height: 100vh; 
  margin-top: 60px;
}

.card{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
  box-shadow:-4px 4px 10px rgba(0, 0, 0, 0.089), 4px -4px 10px rgba(0, 0, 0, 0.089); 
  border-radius: 10px;
  padding: 0.1px;
}

.card__grow, .card__flowing, .card__users{
  width: 80%;
  margin: 30px auto;
}


.img__figure{
  width: 100%;
  margin: 0 auto;
}

.img__card{
  width: 100%;
  display: block;
  margin: 40px auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card__title{
  text-align: center;
  margin: 20px;
  font-size: 20px;
}

.card__paragraph{
  text-align: center;
  color: var(--grayish-blue);
  font-size: 14 px;
  padding: 0 13px;
}

.community{
  width: 90%;
  height: 145px;
  margin: 20px auto;
  background-color: white;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.153);
  padding: 0.1px;
  position: relative;
  top:95px;
}


.community__content{
  width: 100%;
  margin: 25px auto;
}

.community__paragraph{
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
}

.community__btn{
  display: inline-block;
  background-color: var(--pink);
  margin: 10px auto;
  text-decoration: none;
  padding: 10px 50px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.footer{
  background-color: var(--very-dark-cyan);
  color: white;
  min-height: 100vh;
  padding: 0.1px;
}

.footer__content{
  width: 90%;
  margin: 0 auto;
  margin-top: 130px;
}

.footer__logo{
  margin: 25px 0;
}

.footer__img{
  width: 50%;
}

.footer__info{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.location, .telephone, .email{
  display: flex;
  margin: 9px 0;
}

.figure__location, .figure__telephone, .figure__email{
  margin-right: 16px;
  margin-top: 4px;
}

.location__paragraph, .telephone__paragraph, .email__pararaph{
  padding: 0 4px;  
}

.company__information{
  list-style: none;
  padding: 0;
}

.element{
  margin-bottom: 13px;
}

.social__media{
  display: flex;
  justify-content: center;
}

.social__media__icon{
  font-size: 17px;
  margin: 12px;
}

.social__media__paragraph{
  text-align: center;
  font-size: 13px;
  margin-top: 13px;
  margin-bottom: 45px;

}

/*DESKTOP*/
@media (min-width: 1440px) {

  .hero__content__header{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .hero__section{
    width: 92%;
    margin-top: 80px;
  }

  .hero__title{
    width: 77%;
    margin: 15px 0;
    text-align: left;
    font-size: 40px;
    font-weight: 600;
  }

  .hero__paragraph{
    width: 88%;
    text-align: left;
    font-size: 21px;
    margin: 20px 0;
  }

  .btn__started{
    width: 325px;
    height: 50px;
    margin: 20px 0;
    font-size: 19px;
  }


}